<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.web.commonUtils.Listeners"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="D:/Selenium Project/Selenium_Automation/src/test/java/com/hugenx/runner/Login.java">
        <classes>
            <class name="com.hugenx.runner.LoginTest">
            <methods>
                <include name="loginInToTheApplication"/>
            </methods>
        </class>
        </classes>
    </test></suite>